<div class="temperature">
	it is <%= @temperature %> <br>
</div>

<div class="weather">
	and <%= @weather %>
</div>

<div class="city">
	in <%= @city %>
</div>


<div class="updated">
	<%= @last_updated_at %>
</div>